@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
      // Font
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;

      @supports (-webkit-font-smoothing: subpixel-antialiased) {
         -webkit-font-smoothing: subpixel-antialiased;
      }
   }

   html,
   body,
   #__next {
      @apply overflow-x-hidden h-full min-h-full w-full select-none;
   }

   span {
      @apply inline-block tracking-tighter font-light;
   }
   button {
      @apply tracking-tighter;
   }

   th {
      @apply whitespace-nowrap;
   }

   td {
      @apply select-text whitespace-nowrap;
   }

   *:focus,
   *:active,
   *:visited {
      -webkit-tap-highlight-color: transparent;
   }

   [hidden] {
      display: none !important;
   }
}

@import './layouts.scss';
@import './components/button.scss';
@import './components//input.scss';
